.main {
  height: 100vh;
}

mat-icon {
  font-size: 45px;
}
body {
  background-image: url('../../assets/images/desert.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
