<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div fxLayout="column" class="main">
      <div fxFlex="20" fxLayout="row"></div>
      <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-evenly center">
          <button mat-button color="primary" routerLink="timer">
            <mat-icon>alarm</mat-icon>
          </button>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-evenly center">
          <h1>Coucou !</h1>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-evenly center">
          <button mat-button color="primary" routerLink="auth">
            <mat-icon>login</mat-icon>
          </button>
        </div>
      </div>
      <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-evenly center"></div>
    </div>
  </body>
</html>
